---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";



% ============================
% Harvard Gazette / HKS Title Style
% Classic Serif + Bookish + Centered Elegance
% ============================

\usepackage{titling}
\usepackage{setspace}  % 行距控制（subtle spacing）

% --------- Title Format Redefinition ----------
\pretitle{
    \begin{center}
    \vspace*{2.3cm}
    {\fontsize{22}{26}\selectfont\bfseries}
}
\posttitle{\par\vspace{0.6em}\end{center}}

\preauthor{\begin{center}\normalsize}
\postauthor{\end{center}\vspace{1.2em}}

\predate{\begin{center}}
\postdate{\end{center}\vspace{1em}}

% --------- Title + Subtitle ----------
\title{
\textsc{Provision of Infrastructure and Local Conflict}\\[0.75em]
{\Large\textit{Project-level Evidence from China's Belt and Road Initiative\footnotemark[4]}}
}

% --------- Author Block ----------
\author{
\large Huiyi Lyu \\[0.25em]
\normalsize School of Social Sciences, Tsinghua University
}

% Optional：减少日期存在感
\date{\vspace{-1em}}   % ← 如需显示日期可改为 \today

% --------- Print Title ----------
\begin{document}
\maketitle
\thispagestyle{empty}
\vspace{1.8em}
\onehalfspacing   % 论文感更强，如想更紧凑可改 \singlespacing
